<header class="header">
  <div class="header-content">
    <div class="logo" [routerLink]="['/']">
      <div class="logo-icon">
        <svg viewBox="0 0 24 24" fill="currentColor">
          <path d="M21 3H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h5v2h8v-2h5c1.1 0 1.99-.9 1.99-2L23 5c0-1.1-.9-2-2-2zm0 14H3V5h18v12z"/>
          <path d="M10 12l5-3-5-3z"/>
        </svg>
      </div>
      <span class="logo-text">JUTJUBIC</span>
    </div>
    
    <div class="user-section" *ngIf="isLoggedIn">
        <a routerLink="/map" class="user-info" title="Mapa videa">
            <svg class="user-icon" viewBox="0 0 24 24" fill="currentColor">
                <path d="M20.5 3l-.16.03L15 5.1 9 3 3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1 5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z"/>
            </svg>
        </a>
        <a routerLink="/upload" class="user-info">
            <svg class="user-icon" viewBox="0 0 24 24" fill="currentColor">
                <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/>
            </svg>
            <span class="username">Otpremi video</span>
        </a>
      <div class="user-info">
        <svg class="user-icon" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
        </svg>
        <span class="username">{{ username }}</span>
      </div>
      <button class="btn-logout" (click)="onLogout()">
        <svg viewBox="0 0 24 24" fill="currentColor">
          <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
        </svg>
      </button>
    </div>

    <div class="auth-buttons" *ngIf="!isLoggedIn">
      <button class="btn-login" [routerLink]="['/login']">Uloguj se</button>
    </div>
  </div>
</header>
