<div class="home-container">
  <!-- Main Content -->
  <main class="main-content">
    <h2 class="section-title">Video snimci</h2>
    
    <div class="videos-grid">
      <!-- Video placeholders -->
       <a [routerLink]="['/watch', video.draftId]" class="video-card" *ngFor="let video of videos">
        <div class="video-thumbnail">
          <img
                [src]="getThumbnailUrl(video.draftId)"
                class="thumbnail-image"
                [alt]="video.thumbnailPath"
            />
        </div>
        <div class="video-info">
          <h3 class="video-title">{{ video.title }}</h3>
        <p class="video-meta">
          {{ video.viewCount }} pregleda • {{ getDaysAgo(video.createdAt) }}<br>
          <a [routerLink]="['/profile', video.authorUsername]">{{ video.authorUsername }}</a>
        </p>
        </div>
       </a>
    </div>

    <!-- Load More Button -->
    <div class="load-more-container" *ngIf="hasMore && !loading">
      <button class="load-more-btn" (click)="loadVideos()">
        Prikaži još videa
      </button>
    </div>

    <!-- Loading indicator -->
    <div class="loading-container" *ngIf="loading">
      <div class="loading-spinner"></div>
      <p>Učitavanje video snimaka...</p>
    </div>

    <!-- End message -->
    <div class="end-message" *ngIf="!hasMore && videos.length > 0">
      <p>Prikazani su svi video snimci</p>
    </div>
  </main>
</div>